Organizations:
  - &OrdererOrg
    Name: OrdererOrg
    ID: OrdererMSP
    MSPDir: ./crypto-config/ordererOrganizations/example.com/msp
    Policies:
      Readers:
        Type: Signature
        Rule: "OR('OrdererMSP.member')"
      Writers:
        Type: Signature
        Rule: "OR('OrdererMSP.member')"
      Admins:
        Type: Signature
        Rule: "OR('OrdererMSP.member')"

  - &Org1
    Name: Org1MSP
    ID: Org1MSP
    MSPDir: ./crypto-config/peerOrganizations/org1.example.com/msp
    Policies:
      Readers:
        Type: ImplicitMeta
        Rule: "ANY Readers"
      Writers:
        Type: ImplicitMeta
        Rule: "ANY Writers"
      Admins:
        Type: ImplicitMeta
        Rule: "ANY Admins"                # تغییر داده شد
      Endorsement:
        Type: ImplicitMeta
        Rule: "ANY Endorsement"
    AnchorPeers:
      - Host: peer0.org1.example.com
        Port: 7051

  - &Org2
    Name: Org2MSP
    ID: Org2MSP
    MSPDir: ./crypto-config/peerOrganizations/org2.example.com/msp
    Policies:
      Readers:
        Type: ImplicitMeta
        Rule: "ANY Readers"
      Writers:
        Type: ImplicitMeta
        Rule: "ANY Writers"
      Admins:
        Type: ImplicitMeta
        Rule: "ANY Admins"                # تغییر داده شد
      Endorsement:
        Type: ImplicitMeta
        Rule: "ANY Endorsement"
    AnchorPeers:
      - Host: peer0.org2.example.com
        Port: 8051

  - &Org3
    Name: Org3MSP
    ID: Org3MSP
    MSPDir: ./crypto-config/peerOrganizations/org3.example.com/msp
    Policies:
      Readers:
        Type: ImplicitMeta
        Rule: "ANY Readers"
      Writers:
        Type: ImplicitMeta
        Rule: "ANY Writers"
      Admins:
        Type: ImplicitMeta
        Rule: "ANY Admins"                # تغییر داده شد
      Endorsement:
        Type: ImplicitMeta
        Rule: "ANY Endorsement"
    AnchorPeers:
      - Host: peer0.org3.example.com
        Port: 9051

  - &Org4
    Name: Org4MSP
    ID: Org4MSP
    MSPDir: ./crypto-config/peerOrganizations/org4.example.com/msp
    Policies:
      Readers:
        Type: ImplicitMeta
        Rule: "ANY Readers"
      Writers:
        Type: ImplicitMeta
        Rule: "ANY Writers"
      Admins:
        Type: ImplicitMeta
        Rule: "ANY Admins"                # تغییر داده شد
      Endorsement:
        Type: ImplicitMeta
        Rule: "ANY Endorsement"
    AnchorPeers:
      - Host: peer0.org4.example.com
        Port: 10051

  - &Org5
    Name: Org5MSP
    ID: Org5MSP
    MSPDir: ./crypto-config/peerOrganizations/org5.example.com/msp
    Policies:
      Readers:
        Type: ImplicitMeta
        Rule: "ANY Readers"
      Writers:
        Type: ImplicitMeta
        Rule: "ANY Writers"
      Admins:
        Type: ImplicitMeta
        Rule: "ANY Admins"                # تغییر داده شد
      Endorsement:
        Type: ImplicitMeta
        Rule: "ANY Endorsement"
    AnchorPeers:
      - Host: peer0.org5.example.com
        Port: 11051

  - &Org6
    Name: Org6MSP
    ID: Org6MSP
    MSPDir: ./crypto-config/peerOrganizations/org6.example.com/msp
    Policies:
      Readers:
        Type: ImplicitMeta
        Rule: "ANY Readers"
      Writers:
        Type: ImplicitMeta
        Rule: "ANY Writers"
      Admins:
        Type: ImplicitMeta
        Rule: "ANY Admins"                # تغییر داده شد
      Endorsement:
        Type: ImplicitMeta
        Rule: "ANY Endorsement"
    AnchorPeers:
      - Host: peer0.org6.example.com
        Port: 12051

  - &Org7
    Name: Org7MSP
    ID: Org7MSP
    MSPDir: ./crypto-config/peerOrganizations/org7.example.com/msp
    Policies:
      Readers:
        Type: ImplicitMeta
        Rule: "ANY Readers"
      Writers:
        Type: ImplicitMeta
        Rule: "ANY Writers"
      Admins:
        Type: ImplicitMeta
        Rule: "ANY Admins"                # تغییر داده شد
      Endorsement:
        Type: ImplicitMeta
        Rule: "ANY Endorsement"
    AnchorPeers:
      - Host: peer0.org7.example.com
        Port: 13051

  - &Org8
    Name: Org8MSP
    ID: Org8MSP
    MSPDir: ./crypto-config/peerOrganizations/org8.example.com/msp
    Policies:
      Readers:
        Type: ImplicitMeta
        Rule: "ANY Readers"
      Writers:
        Type: ImplicitMeta
        Rule: "ANY Writers"
      Admins:
        Type: ImplicitMeta
        Rule: "ANY Admins"                # تغییر داده شد
      Endorsement:
        Type: ImplicitMeta
        Rule: "ANY Endorsement"
    AnchorPeers:
      - Host: peer0.org8.example.com
        Port: 14051

Capabilities:
  Channel: &ChannelCapabilities
    V2_0: true
  Orderer: &OrdererCapabilities
    V2_0: true
  Application: &ApplicationCapabilities
    V2_0: true

Application: &ApplicationDefaults
  Organizations:
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "ANY Admins"
    LifecycleEndorsement:
      Type: ImplicitMeta
      Rule: "ANY Endorsement"
    Endorsement:
      Type: ImplicitMeta
      Rule: "ANY Endorsement"
  Capabilities:
    <<: *ApplicationCapabilities

Orderer: &OrdererDefaults
  OrdererType: solo
  Addresses:
    - orderer.example.com:7050
  BatchTimeout: 2s
  BatchSize:
    MaxMessageCount: 500
    AbsoluteMaxBytes: 10 MB
    PreferredMaxBytes: 2 MB
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "ANY Admins"
    BlockValidation:
      Type: ImplicitMeta
      Rule: "ANY Writers"
  Capabilities:
    <<: *OrdererCapabilities

Channel: &ChannelDefaults
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "ANY Admins"
  Capabilities:
    <<: *ChannelCapabilities

Profiles:
  OrdererGenesis:
    <<: *ChannelDefaults
    Orderer:
      <<: *OrdererDefaults
      Organizations:
        - *OrdererOrg
      Capabilities:
        <<: *OrdererCapabilities
    Consortiums:
      SampleConsortium:
        Organizations:
          - *Org1
          - *Org2
          - *Org3
          - *Org4
          - *Org5
          - *Org6
          - *Org7
          - *Org8

  ApplicationChannel:
    Consortium: SampleConsortium
    <<: *ChannelDefaults
    Application:
      <<: *ApplicationDefaults
      Organizations:
        - *Org1
        - *Org2
        - *Org3
        - *Org4
        - *Org5
        - *Org6
        - *Org7
        - *Org8
      Capabilities:
        <<: *ApplicationCapabilities
